.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main-main{
    flex: 1 0 auto;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* ------- */

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:focus,
  *:active {
    outline: none;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
    background-color: transparent;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  a {
    color: inherit;
  }
  
/* ------ */

body {
    font-family: "Ubuntu", sans-serif;
    color: #42454a;
}

.container {
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
    width: 100%;
    
}

.bolt_text {
    font-weight: 700;
    white-space: nowrap;
}

.small_text{
    color: #42454A;
font-size: 18px;
font-weight: 700; 
}

.title {
    font-size: 50px;
    font-weight: 700;
}

.desc{
    color: #42454A;
    font-size: 20px;
    font-weight: 400;
}

.list{
    display: flex;
    flex-direction: column;
    gap:55px;
}

.list-item{
    padding-left: 68px;
    position: relative;
}
.list-item::before {
    content:'';
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/icons/galochka.svg');
    width: 49px;
    height: 49px;
}


/* -------------------------------- */
/* -------------------------------- */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

/* -------------------------------- */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 27px;

}
.header__nav-list {
    display: flex;
    gap: 78px;
}
.header__nav-item {
    cursor: pointer;
}

.header__nav-item:first-child {
    padding-right: 16px;
    position: relative;
}
.header__nav-item:first-child::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
    content: url("../images/icons/Vector.svg");
}

.header__top-btn-box {
    display: flex;
    align-items: center;
    gap: 71px;
}

.black-btn {
    color: #fff;
    border-radius: 4px;
    background: #42454a;
    box-shadow: 0px 12px 25px -10px rgba(66, 69, 74, 0.3);
    padding: 14px 26px;
}

/* -------------------------------- */

.header__line {
    width: 100%;
    margin-top: 27px;
    height: 1px;
    background: #eae8f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* -------------------------------- */
.header__bottom {
    padding-right: 0;
}
.header__bottom-inner {
    
    display: flex;
    background: url("../images/icons/bg.svg") no-repeat;
    background-position: 100% 40%;
}
.header__title {
    max-width: 586px;
    padding-top: 87px;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 300;
}

.header__title-line {
    width: 335px;
    height: 4px;
    flex-shrink: 0;
    background: #42454a;
    margin-top: 93px;
}

.header__desk {
    padding-top: 62px;
    max-width: 353px;
    color: #42454a;
    text-transform: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.22px;
}

.header__bottom-btn-box {
    padding-top: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.header__bottom-btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__bottom-btn-text {
    font-weight: 500;
}

.header__bottom-btn-text--arrow {
    color: #17181a;
    font-size: 20px;
}

.header__bottom-btn-text--circle {
    max-width: 87px;
    color: #414449;
    font-size: 18px;
    line-height: 25px;
}

.header__bottom-slider-box {
    padding-top: 34px;

}

.header__bottom-img {
    width: 100%;

}

.header__bottom-slider-control {
    display: flex;
    justify-content: flex-end;
;
}
.header__bottom-slider-counter {
    display: flex;
    gap: 37px;
    padding-right: 50px;


}

.header__bottom-slider-count{
    font-family: Calistoga;
    font-size: 150px;
    font-weight: 400;
    -webkit-text-stroke: 1px #8B938D;
    color: #fff;
}

.header__bottom-btn-container{
    display: flex;
    align-items:center;

}

.header__bottom-left{
    border: 1px solid #17181A;
    padding: 18px 23px 18px 23px;
    border-radius:25px 0 0 25px;
}

.header__bottom-right {
    border: 1px solid #17181A;
    padding: 18px 23px 18px 23px;
    border-radius:0 25px 25px 0;
    border-left: none;
}

/* -------------------------------- */

.header__footer-inner {
    padding-bottom: 127px;
}
.header__footer-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__footer-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 6.606px;
    border: 0.661px solid #F4F4F4;
    box-shadow: 0px 13.211169242858887px 26.422338485717773px 0px rgba(0, 0, 0, 0.06);
    padding:28px 18px 32px;
    max-width: 174px;
    width: 100%;
    gap:18px
}

.header__footer-item-title {
    white-space: nowrap;
    font-size: 40px;
    font-weight: 700; 
}
.header__footer-item-dist {
    font-size: 13px;
    font-weight: 400; 
}

/* -------------------------------- */
/* -------------------------------- */

.product__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accessories__container{
    padding: 0;
    padding-bottom: 127px;
}

.accessories__header{
    padding-bottom: 160px;
}

.accessories__content{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    gap: 132px 10px;
}
.accessories__list-box{
    padding-left: 50px;
}

.accessories__list-title{
    padding-bottom: 44px;
}

.image-box1{
    grid-column:2/4;
    grid-row: 1/2;
}

.image-box2{
    grid-column:1/3;
    grid-row: 2/3;
}

.btn-box{
    display: flex;
    justify-content: center;
}

.main__section-btn{
    padding: 29px 64px;
    color: #42454A;
    font-size: 30px; 
    font-weight: 700;
    height: 94px; 
    border-radius: 10px;
    border: 2px solid #42454A; 
}

/* -------------------------------- */
/* -------------------------------- */

.gallery__container{
    padding-bottom: 127px;
}

.gallery__content{
    display: flex;
    gap: 74px;

}

.gallery__header{
    padding-bottom: 112px;
}


.gallery__img{
    max-width: 633px;
    max-height: 485px;
}

.gallery__btn-box{
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 27px;
}

.gallery-btn{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #42454A;
    width: 570px;
    height: 94px;
    align-items:center;
    justify-content: center;  
}

.gallery__column-left{
    display: flex;
    flex-direction: column;
    gap: 55px;
    
    justify-content: flex-end; 
}

.gallery__column-right{
    display: flex;
    flex-direction: column;
    gap: 96px;  
}

/* -------------------------------- */
/* -------------------------------- */

.colors__container{
    padding: 0;
    padding-bottom: 127px;
}

.colors__list{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 95px;
    margin-top:-105px;
}

.colors__img{
    width: 100%;
}


.colors__list-item{
    position: relative;
}

.colors__list-img{
    border-radius: 10px;
}

.colors__item-desc{
    position: absolute;
    top:65%;
    left:60%;
    color: rgba(255, 255, 255, 0.60);
    font-family: Ubuntu;
    font-size: 80px;
    font-weight: 700;

}

/* -------------------------------- */
/* -------------------------------- */

.testimonials__title{
    padding-bottom: 41px;
}
.testimonials__container{
    padding-bottom:121px;
}

.testimonials__stars{
    padding-bottom: 12px;
}

.testimonials__card-box{
    display: flex;
    justify-content: center;
    gap: 36px;
    padding-bottom: 43px;

}

.testimonials__card{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width: 360px;
    height: 366px; 
    border: 1px solid #D8D8D8; 
    padding: 53px 22px;
}

.testimonials__card:hover{
    transition: all .5s;
    border: 1px solid transparent; 
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(49, 49, 49, 0.02), 0px 20px 13px 0px rgba(49, 49, 49, 0.05), 0px 38.51852035522461px 25.481481552124023px 0px rgba(49, 49, 49, 0.06); 
}

.testimonials__desc{
    font-size: 20px;
    max-width: 304px; 
    line-height: 140%;
    padding-bottom:47px;
    text-align: center;
}

.testimonials__card-employee{
    display: flex;
    gap: 20px;
}

.testimonials__card-employee-name{
    font-size: 16px;
    font-weight: 500;
}

.testimonials__card-employee-job{
    font-size: 14px; 
}

.testimonials__card-desc-box{
    display: flex;
    flex-direction: column;
    gap:4px;
    justify-content: center;
}
.testimonials__control{
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* -------------------------------- */
/* -------------------------------- */
.form{
    padding-bottom: 127px;
}

.form__header{
    padding-bottom: 59px;
}

.form__form{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form_btn{
    padding: 27px 57px;
    font-size: 20px;
    border-radius: 10px;
}

.form__input{
    max-width: 400px;
    width: 100%;
    padding: 27px 38px;
    font-size: 20px; 
    background: #FAFAFA; 
    color:#42454A;
    border: 1.5px solid #F5F5F5;
    border-radius: 10px;
}

.form__input::placeholder {
    color:#42454A;
}
.form__input::placeholder{
    font-size: 20px; 
}


/* ------------------------ */

.footer__container{
    position: relative;
    background-color: #42454A;
}

.footer__inner{
    display: flex; 
    justify-content:flex-end;
    padding: 0 150px; 
    align-items:center;
    padding-top: 99px;

}

.footer__image-box {
    position: absolute;
    left: 0;
    bottom: 40px;
}
.footer__img {
    width: 100%;
}

.footer__list-box{
    display: flex;
    justify-content: space-around;
    max-width: 545px;
    width: 100%;
    gap: 50px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;


}

.footer__list-title{
    color: #FBFBFB;
    font-size: 22px;
    font-weight: 700; 
    padding-bottom: 45px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.footer__list-item{
    color: #FBFBFB;
font-size: 16px;
font-weight: 400;
}


.footer__social{
    display: flex;
    gap: 16px;
}

.footer__copyright{
    color: #FBFBFB;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
padding-bottom: 30px;
}