.efficiency {

    // .efficiency_desc

    &_desc {
    }

    // .efficiency__inner

    &__inner {
    }

    // .efficiency__header

    &__header {
    }

    // .efficiency__title

    &__title {
    }

    // .efficiency__content

    &__content {
        padding: 12rem 0;
        --animate-duration: 2.5s;
    }

    // .efficiency__image-box

    &__image-box {
        position:relative;
        &::after{
            content:'';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 0px 3rem 40px white;
        }
       

    }

    // .efficiency__img

    &__img {
    }
}

