.footer {
    // .footer__container

    &__container {
        background-color: #42454a;
        max-width: 192rem;
        width: 100%;
    }

    // .footer__inner

    &__inner {
        display: flex;
        justify-content: flex-end;
        padding: 0 15rem;
        align-items: center;
        padding-top: 9.9rem;
        width: 144rem;
        margin: 0 auto;
        position: relative;
    }

    // .footer__image-box

    &__image-box {
        position: absolute;
        left: -14rem;
        bottom: -1rem;
    }

    // .footer__img

    &__img {
        width: 100%;
    }

    // .footer__list-box

    &__list-box {
        display: flex;
        justify-content: space-around;
        max-width: 54.5rem;
        width: 100%;
        gap: 5rem;
        padding-bottom: 7rem;
        position: relative;
        z-index: 1;
    }

    // .footer__list-inner

    &__list-inner {
    }

    // .footer__list-link

    &__list-link {
        display: inline-block;
        width: fit-content;
        &::after {
            position: relative;
            content: '';
            display: block;
            bottom: 0;
            width: 0;
            height: 0.2rem;
            background: #fff;
            transition: width 0.3s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }

    // .footer__list-title

    &__list-title {
        color: #fbfbfb;
        font-size: 2.2rem;
        font-weight: 700;
        padding-bottom: 4.5rem;
    }

    // .footer__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
    }

    // .footer__list-item

    &__list-item {
        color: #fbfbfb;
        font-size: 1.6rem;
        font-weight: 400;
    }

    // .footer__social

    &__social {
        display: flex;
        gap: 1.6rem;
    }

    // .footer__social-item

    &__social-item {
    }

    // .footer__copyright

    &__copyright {
        color: #fbfbfb;
        text-align: center;
        font-family: 'Poppins';
        font-size: 1.6rem;
        font-weight: 400;
        padding-bottom: 3rem;
    }
}

.facebook {
}
