.header {

}

/* -------------------------------- */


.black-btn {
    color: #fff;
    border-radius: 4rem;
    background: #42454a;
    box-shadow: 0rem 12rem 25rem -10rem rgba(66, 69, 74, 0.3);
    padding: 14rem 26rem;
}
/* -------------------------------- */

.header__line {
   
}

/* -------------------------------- */
.header__bottom {

}
.header__bottom-inner {

}
.header__title {

}

.header__title-line {

}

.header__desk {

}

.header__bottom-btn-box {

}

.header__bottom-btn {

}

.header__bottom-btn-text {
}

.header__bottom-btn-text--arrow {
    color: #17181a;
    font-size: 20rem;
}

.header__bottom-btn-text--circle {

}

.header__bottom-slider-box {

}

.header__bottom-img {
    width: 100%;
}

.header__bottom-slider-control {

}
.header__bottom-slider-counter {

}

.header__bottom-slider-count {

}

.header__bottom-btn-container {

}

.header__bottom-left {

}

.header__bottom-right {

}

/* -------------------------------- */

.header__footer-inner {

}
.header__footer-list {

}
.header__footer-item {

}

.header__footer-item-title {

}
.header__footer-item-dist {

}


