<section class="accessories">
    <div class="accessories__container container">
        <div class="accessories__inner">
            <div class="accessories__header wow animate__backInDown" data-wow-delay="0.4s">
                <h2 class="accessories__title title wow animate__fadeInLeft" data-wow-delay="0.4s">Multiple Accessories</h2>
                <p class="accessories__desc desc wow animate__fadeInBottomRight" data-wow-delay="0.4s">There are multiple modes for the scooter for your multiple needs.</p>
            </div>
            <div class="accessories__content">
                <div class="accessories__list-box">
                    <h3 class="accessories__list-title title wow animate__rotateInDownLeft" data-wow-delay="0.6s">Golf Bag Rock</h3>
                    <ul class="accessories__list list">
                        <li class="accessories__list-item list-item wow animate__rotateInDownLeft" data-wow-delay="0.5s">Material : Aluminium alloy</li>
                        <li class="accessories__list-item list-item wow animate__rotateInDownLeft" data-wow-delay="0.4s">Color : Black</li>
                        <li class="accessories__list-item list-item wow animate__rotateInDownLeft" data-wow-delay="0.3s">Capacity : 45lbs</li>
                        <li class="accessories__list-item list-item wow animate__rotateInDownLeft" data-wow-delay="0.2s">Ease : Steady & adjustable</li>
                    </ul>
                </div>
                <div class="accessories__image-box accessories__image-box--1 wow animate__fadeInDown" data-wow-delay="0.2s">
                    <img src="./assets/images/bike3.png" alt="" class="accessories__img" />
                </div>
                <div class="accessories__image-box accessories__image-box--2 wow animate__fadeInTopLeft" data-wow-delay="0.5s">
                    <img src="./assets/images/bike4.png" alt="" class="accessories__img" />
                </div>
                <div class="accessories__list-box">
                    <h3 class="accessories__list-title title list-item wow animate__rotateInDownRight" data-wow-delay="0.6s">Shopping Rack</h3>
                    <ul class="accessories__list list">
                        <li class="accessories__list-item list-item wow animate__rotateInDownRight" data-wow-delay="0.5s">Material : Aluminium alloy</li>
                        <li class="accessories__list-item list-item wow animate__rotateInDownRight" data-wow-delay="0.4s">Color : Black</li>
                        <li class="accessories__list-item list-item wow animate__rotateInDownRight" data-wow-delay="0.3s">Capacity : 45lbs</li>
                        <li class="accessories__list-item list-item wow animate__rotateInDownRight" data-wow-delay="0.2s">Ease : Steady & adjustable</li>
                    </ul>
                </div>
            </div>
            <div class="accessories__btn-box">
                <a href="#" class="accessories__btn wow animate__headShake" data-wow-delay="0.2s">More Accessories Coming Soon</a>
            </div>
        </div>
    </div>
</section>