<sections class="colors">
    <div class="colors__container container">
        <div class="colors__inner">
            <div class="colors__header ">
                <h2 class="colors__title title">Colors</h2>
                <p class="colors__desc desc">Checkout our products colors.</p>
            </div>
            <div class="colors__content">
                <div class="colors__image-box">
                    <img src="./assets/images/colors_section/bike8.png" alt="" class="colors__img" />
                </div>
                <ul class="colors__list">
                    <li class="colors__list-item">
                        <img src="./assets/images/colors_section/bike_blue.png" alt="" class="colors__list-img" />
                        <p class="colors__item-desc">01</p>
                    </li>
                    <li class="colors__list-item">
                        <img src="./assets/images/colors_section/bike_green.png" alt="" class="colors__list-img" />
                        <p class="colors__item-desc">02</p>
                    </li>
                    <li class="colors__list-item">
                        <img src="./assets/images/colors_section/bike_red.png" alt="" class="colors__list-img" />
                        <p class="colors__item-desc">03</p>
                    </li>
                    <li class="colors__list-item">
                        <img src="./assets/images/colors_section/bike_black.png" alt="" class="colors__list-img" />
                        <p class="colors__item-desc">04</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</sections>