<section class="efficiency">
    <div class="container">
        <div class="efficiency__inner">
            <div class="efficiency__header header">
                <h2 class="efficiency__title title">High Efficiency Motor</h2>
                <p class="efficiency_desc desc">More torque for powerful riding with 22% maximum hill climbing capability.</p>
            </div>
            <div class="efficiency__content">
                <div class="efficiency__image-box">
                    <img src="./assets/images/wheel.jpg" alt="" class="efficiency__img" />
                </div>
            </div>
        </div>
    </div>
</section>