<footer class="footer">
    <div class="footer__container container">
        <div class="footer__inner">
            <div class="footer__image-box">
                <img src="./assets/images/bike_last.png" alt="" class="footer__img">
            </div>
            <ul class="footer__list-box">
                <li class="footer__list-inner">
                    <p class="footer__list-title">About</p>
                    <ul class="footer__list">
                        <li class="footer__list-item">Company</li>
                        <li class="footer__list-item">Teams</li>
                        <li class="footer__list-item">Profile</li>
                        <li class="footer__list-item">Careers</li>
                    </ul>
                </li>
                <li class="footer__list-inner">
                    <p class="footer__list-title">Resources</p>
                    <ul class="footer__list">
                        <li class="footer__list-item">Contact</li>
                        <li class="footer__list-item">Application</li>
                        <li class="footer__list-item">FQA Features</li>
                    </ul>
                </li>
                <li class="footer__list-inner">
                    <p class="footer__list-title">Legals</p>
                    <ul class="footer__list">
                        <li class="footer__list-item">Copyright Privacy</li>
                        <li class="footer__list-item">Policy Disclaimer</li>
                        <li class="footer__list-item">Terms</li>
                        <ul class="footer__social">
                            <li class="footer__social-item">
                                <img src="./assets/images/icons/facebook.svg" alt="facebook" class="">
                            </li>
                            <li class="footer__social-item">
                                <img src="./assets/images/icons/twitter.svg" alt="twitter" class="">
                            </li>
                            <li class="footer__social-item">
                                <img src="./assets/images/icons/instagramm.svg" alt="instagram" class="">
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>
        <p class="footer__copyright">© Copyright 2021. All rights reserved.</p>
    </div>
</footer>