<section class="form">
    <div class="form__container">
        <div class="form__inner">
            <div class="form__header">
                <h2 class="form__title title">Subscribe To Newsletter</h2>
                <p class="form__desc desc">Subscribe to our newsletter to get amazing offers in future.</p>
            </div>
            <form class="form__form">
                <input type="email" class="form__input" placeholder="Enter your email." required >
                <button class="form__btn black-btn" type="submit">Get start</button>
            </form>

        </div>
    </div>
</section>