<section class="gallery">
    <div class="gallery__container container">
        <div class="gallery__inner">
            <div class="gallery__header ">
                <h2 class="gallery__title title">Gallery</h2>
                <p class="gallery__desc desc">View gallery of our products and make yourself satisfied with our creation.</p>
            </div>
            <div class="gallery__content">
                <div class="gallery__column-left">
                    <div class="gallery__image-box">
                        <img src="./assets/images/bike5.png" alt="" class="gallery__img" />
                    </div>
                    <div class="gallery__btn-box btn-box">
                        <a href="#" class="gallery__btn">Battery Images</a>
                        <a href="#" class="gallery__btn">Spare Parts Images</a>
                        <a href="#" class="gallery__btn">Spare Parts Images</a>
                    </div>
                </div>
                <div class="gallery__column-right">
                    <div class="gallery__image-box">
                        <img src="./assets/images/bike6.png" alt="" class="gallery__img" />
                    </div>
                    <div class="gallery__image-box">
                        <img src="./assets/images/bike7.png" alt="" class="gallery__img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>