<div class="modal">
    <div class="modal__inner">
        <div class="modal__top">
            <div class="modal__title-box">
                <p class="modal__title">Log in to your Account</p>
            </div>
            <button class="modal__close-btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                >
                    <path
                        d="M18 2L2 18"
                        stroke="#888888"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M2 2L18 18"
                        stroke="#888888"
                        stroke-width="2"
                        stroke-linecap="square"
                        stroke-linejoin="round"
                    ></path>
                </svg>
            </button>
        </div>

        <div class="modal__userdata-box">
            <label class="modal__label modal__label--username">
                <p class="modal__label-text">Username</p>
                <input type="text" name="username" class="modal__input" />
            </label>
            <label class="modal__label modal__label--password">
                <p class="modal__label-text">Password</p>
                <input type="password" name="password" class="modal__input" />
            </label>
        </div>
        <div class="modal__btn-box">
            <p class="modal__convention">
                By clicking on the button, you <br />consent to processing personal data
            </p>
            <button class="modal__btn" type="submit">LOG IN</button>
        </div>
    </div>
</div>
