<section class="product">
    <div class="container">
        <div class="product__inner">
            <div class="product__header">
                <h2 class="product__title title wow animate__zoomIn" data-wow-delay="0.1s">
                    Product Information
                </h2>
                <p class="product__desc desc wow animate__zoomIn" data-wow-delay="0.3s">
                    Our Scooter has following unique design and technology features:
                </p>
            </div>
            <div class="product__content">
                <div class="product__image-box wow  animate__fadeInLeft " data-wow-delay="0.4s">
                    <img src="./assets/images/bike2.png" alt="" class="product__img" />
                </div>
                <ul class="product__list list">
                    <li class="product__list-item list-item wow animate__fadeInRight" data-wow-delay="0.1s">
                        Lightweight aircraft grade aluminium frame
                    </li>
                    <li class="product__list-item list-item wow animate__fadeInRight" data-wow-delay="0.2s">
                        Car grade lithium battery
                    </li>
                    <li class="product__list-item list-item wow animate__fadeInRight" data-wow-delay="0.3s">
                        Self-balanced
                    </li>
                    <li class="product__list-item list-item wow animate__fadeInRight" data-wow-delay="0.4s">
                        Plug n play
                    </li>
                    <li class="product__list-item list-item wow animate__fadeInRight" data-wow-delay="0.5s">
                        Quick release adapter
                    </li>
                    <li class="product__list-item list-item wow animate__fadeInRight" data-wow-delay="0.6s">
                        RFID key card
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
