<section class="product">
    <div class="container">
        <div class="product__inner">
            <div class="product__header">
                <h2 class="product__title title">Product Information</h2>
                <p class="product__desc desc">
                    Our Scooter has following unique design and technology features:
                </p>
            </div>
            <div class="product__content">
                <div class="product__image-box">
                    <img src="./assets/images/bike2.png" alt="" class="product__img" />
                </div>
                <ul class="product__list list">
                    <li class="product__list-item list-item">Lightweight aircraft grade aluminium frame</li>
                    <li class="product__list-item list-item">Car grade lithium battery</li>
                    <li class="product__list-item list-item">Self-balanced</li>
                    <li class="product__list-item list-item">Plug n play</li>
                    <li class="product__list-item list-item">Quick release adapter</li>
                    <li class="product__list-item list-item">RFID key card</li>
                </ul>
            </div>
        </div>
    </div>
</section>
